<p>Vous venez de recevoir <%= pluralize(@credits, "credit", plural: "crédits") %> sur votre compte ULPS.</p>

<%= link_to "Voir tous les épisodes disponibles", episodes_url %>

<p>À très vite,</p>

<p>ULPS</p>
