<p>Bonjour !</p>

<p>Vous venez d’acheter l’épisode ULPS sur le bouquin <%= @episode.book.title %>.
Vous pouvez écouter et lire votre nouvel épisode sur votre espace membre dès maintenant.</p>

<%= link_to "Voir mon nouvel épisode maintenant", episode_url(@episode) %>

<p>À bientôt,</p>

<p>ULPS</p>