<h3>Une action est requise pour procéder à votre paiement</h3>
<p>Votre abonnement à <%= Pay.business_name %> a besoin de votre confirmation.</p>

<p><%= link_to "Cliquez ici pour confirmer votre paiement", pay.payment_url(params[:payment_intent_id]) %>. Si vous avez des questions répondez à cet email.</p>
<p>- Le support <%= Pay.business_name %></p>
