<h3>Votre abonnement se renouvelle bientôt</h3>
<p>Cet email est un petit rappel pour vous dire que votre abonnement <%= Pay.business_name %> se renouvellera automatiquement le <%= l params[:date].to_date, format: :long %>.</p>

<p>Vous pouvez à tout moment modifier votre abonnement en vous connectant à votre compte et en modifiant vos paramètres de facturation.</p>
<p>Si vous avez des questions répondez simplement à cet email.</p>

<p>- Le support <%= Pay.business_name %></p>
