<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Facturation</h2>
                </div>
                <div class="panel-body mt-4">
                    <%= link_to "Accéder ou modifier ses informations", @portal_session.url, class: "btn btn-primary" %>
                </div>
            </div>
        </div>
    </div>
</div>
