<section class="position-relative">
  <%= render "episodes/episode/header" %>
</section>

<section class="position-relative pb-5">
  <div class="container">
    <div class="row pt-4">
      <div class="col-sm-12 col-lg-8">
        <div class="mb-5">
          <div class="row">
            <div class="col-sm-12 col-lg-auto">
              <div class="creator_thumbnail img-thumbnail pulse-image" style="width: 80px;height: 80px;">
                <%= image_tag "harry_thumbnail.png" %>
              </div>
            </div>
            <div class="col-sm-12 col-lg-8">
              <div class="text-muted">"<%= @episode.edito %>"</div>
              <div class="mb-4 text-muted">- Harry Jmg</div>
            </div>
          </div>
          <h4 class="fw-bold mb-2 mt-5">Notes de Harry</h4>
          <div class="mb-4 text-muted">Essaie ULPS pour avoir accès aux notes personnelles de Harry.</div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-5">
          <h4 class="fw-bold">Commentaires</h4>
          <div class="mb-4 text-muted"><%= @episode.notes %></div>
        </div>
      </div>
    </div>
  </div>
</section>