<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-auto text-center">
        <span class="text-muted" contenteditable="false">Obtenir</span>
        <h2 class="display-5 fw-bold mt-2 mb-3" contenteditable="false">1 crédit ULPS</h2>
        <p class="lead text-muted mb-4" contenteditable="false">Prix: 4,90 €</p>
        <div class="d-flex flex-wrap justify-content-center">
            <%= render partial: "pay/stripe/checkout_button", locals: { session: @checkout_session, title: "Obtenir 1 crédit ULPS", class: "btn btn-primary me-2 mb-2 mb-sm-0" } %>
        </div>
      </div>
    </div>
  </div>
</section>