$primary: #cfabff;

@import "bootstrap";

a {
  color: #0274B6;
  text-decoration: none;
  &:hover {
	text-decoration: underline;
	color: #0274B6;
  }
}

.creator_thumbnail {
	display: inline-block;
    overflow: hidden;
    border-radius: 50%;

	img {
		transform: scale(1.5);
   		width: 100%;
	}
}