$primary: #ffc107;

@import "bootstrap";

*, *:before, *:after {box-sizing:  border-box !important;}


.row {  
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
  column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
  column-gap: 1em;  
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.well {
 position:relative;
 display: block;
}

.ulps_rounded {

    border-radius:  50px;
    .card-img-top {
        border-radius:  50px;
    }
    .ulps_badge {
        position: absolute;
        top: 20px;
        right: 30px;
        --bs-badge-padding-x: 2em;
        --bs-badge-padding-y: 1em;
    }
}