<p>Bonjour à tous, ici Harry de ULPS.</p>
<p>La nouvelle version de ULPS est en ligne !</p>
<p>Pour y accéder, <%=link_to "cliquez ici", edit_user_password_url(reset_password_token: @token) %> et mettez à jour votre mot de passe.</p>
<p>Le lien ci-dessous restera valable deux semaines. Un problème? Répondez à cet email.</p>