<p>Bonjour à tous, ici Harry de ULPS.</p>
<p>Petit message pour vous annoncer que la nouvelle version de ULPS est en ligne.</p>
<p>Pour y accéder, <%=link_to "cliquez ici pour mettre à jour votre mot de passe", edit_user_password_url(reset_password_token: @token) %>.</p>
<p>Vous avez 2 semaines pour mettre à jour votre mot de passe. Un problème? <a href="mailto:yo@ulps.fr">yo@ulps.fr</a>.</p>
<p>Changements majeurs :</p>
<ul>
  <li>Il n'y a plus d'abonnement hebdomadaire. Tous vos abonnements passent en mensuel à 3,75 € / mois.</li>
  <li>Tous les nouveaux venus paient 4,90€ / mois.</li>
  <li>Système de crédit : vous serez crédités d'un nouveau crédit à utiliser sur le site tous les mois.</li>
  <li>Système de crédit : un crédit vous permet d'accéder à un épisode.</li>
  <li>Vous pouvez vous procurer des crédits supplémentaires pour accéder à plus d'épisodes.</li>
</ul>
<p>Changements mineurs :</p>
<ul>
  <li>Vous pouvez maintenant gérer votre abonnement directement depuis le site internet.</li>
  <li>Vous pouvez vous connecter via votre compte Google</li>
  <li>Vous pouvez écouter un extrait de chaque épisode avant de l'ajouter à votre compte.</li>
</ul>
<p>À bientôt,</p>
<p>- Harry</p>